body {
  background-color: black;
  color: #DEE8BA;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  font-variant: small-caps;
}

ul.classy-list li {
  line-height: 1.2em;
}

sup {
  font-size: xx-small;
  vertical-align: top;
}

a {
  text-decoration: underline;
  color: #DEE8BA;
}