{% extends '_layout.html' %}
{% block content %}
  <div>
  Thus beings the Scotch Drinkers Collective. A group of like minded individuals with refined taste and unparalleled wit.
  </div>
  <p>
  Rules of the Scotch Drinkers Collective:
  <BR>
  <ul class="classy-list">
    <li>The first time you are a <em>guest</em>.</li>
    <li>The second time you are a <em>member</em>.<sup>♣</sup></li>
    <li>New members must bring a bottle of scotch.<sup>♥</sup></li>
    <li>The collective will judge the members by the scotch that they bring.<sup>♠</sup></li>    
  </ul>
  </p>
  <div style="font-size:xx-small;">
  <ul class="invis">
  <li>♣ Singles may always bring a <em>special guest</em>. Special guests are not required to become members.</li>
  <li>♥ Couples may choose to be recognized as a single scotch-drinking member, and thusly bring a single bottle for the two of them.</li>
  <li>♠ The collective is happy to suggest bottles that the collective will approve of.</li>
  <li>♦ Diamonds are a girls best friend.</li>
  </ul>
  </div>
{% endblock content %}

