{% extends '_layout.html' %}
{% block content %}
  <div>
  Thus beings the Scotch Drinkers Collective. A group of like minded individuals with refined taste, and unparalleled wit.
  </div>
  <p>
  Rules of the Scotch Drinkers Collective:
  <BR>
  <ul>
    <li>The 1st time you are a guest</li>
    <li>The 2nd time you are a member<sup style="font-size:xx-small;">♥♣♦</sup></li>
    <li>New members must bring a bottle of scotch</li>
    <li>The collective will judge members by the scotch they bring<sup style="font-size:xx-small;">♠</sup></li>
    
  </ul>
  </p>
  <div style="font-size:xx-small;">
  <li>♠ The collective is happy to suggest bottles the collective will approve of.</li>
  <li>♥ Couples may choose to be recognized as a single scotching drinking member, and thusly bring a single bottle for the two of them.</li>
  <li>♣ Singles may always bring a special guest.</li>
  <li>♦ Special guests are not required to become members.</li>
  </div>
{% endblock content %}

